body{
    font-family: 'Open Sans', sans-serif;
}
.header{
   max-width: 1120px;
   margin: 0 auto;
    display: flex;
    align-items: center;
   justify-content: space-between;

}
.blog{
    text-align: center;
    display: flex;
    gap: 44px;
}