.header-section{
    max-width: 1120px;
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container{
    display: flex;
}
.item{
    display: flex;
}